# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log

# --- Python ---
venv/
.venv/
env/
# Pliki skompilowane i cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# --- GCP & Secrets ---
*.json
!credentials.json.example  # Pozwól tylko na pliki przykładowe
.env
.secrets
hosts.ini

# --- Ansible ---
*.retry
.ansible_vault_password

# --- Systemowe i IDE ---
.DS_Store
.vscode/
.idea/
*.log

# --- Instance files ---
instance
src/instance