---
- name: Przygotowanie serwera pod Python API
  hosts: gcp_vms
  become: yes  
  tasks:
    - name: Aktualizacja listy pakietow (apt update)
      apt:
        update_cache: yes

    - name: Instalacja pip i venv (niezbedne do Pythona)
      apt:
        name: 
          - python3-pip
          - python3-venv
        state: present

    - name: Stworzenie folderu na projekt
      file:
        path: /home/{{ ansible_user }}/portfolio_tracker
        state: directory
        mode: '0755'
        owner: "{{ ansible_user }}"